language: python
services:
  - docker
before_script: pip install docker-compose
script:
  - docker-compose build
after_success:
  - if [[ "$TRAVIS_BRANCH" == "main" ]]; then
      docker login -u $DOCKER_USERNAME -p $DOCKER_PASSWORD ;
      docker-compose build ;
      docker tag database $DOCKER_USERNAME/database-aws ;
      docker tag database-db $DOCKER_USERNAME/postgres-aws ;
      docker tag engine $DOCKER_USERNAME/engine-aws ;
      docker tag nginx $DOCKER_USERNAME/nginx-aws ;
      docker push $DOCKER_USERNAME/database-aws ;
      docker push $DOCKER_USERNAME/postgres-aws;
      docker push $DOCKER_USERNAME/engine-aws ;
      docker push $DOCKER_USERNAME/nginx-aws ;

fi:

deploy:
  provider: elasticbeanstalk
  region: us-east-1
  app: tcc-aa-app
  env: tcc-aa-env
  bucket-name: elasticbeanstalk-us-east-1-571785655335
  bucket-path: microservice-tcc
  on:
    branch: main
  access_key_id: $AWS_ACCESS_KEY
  secret_access_key: $AWS_SECRET_KEY