version: "3"

services:
  database-db:
    image: postgres
    container_name: postgres
    environment:
      - POSTGRES_PASSWORD=developpassword
    ports:
      - "5432:5432"
  database:
    build: ./database
    container_name: database
    environment:
      - FLASK_ENV=dev
      - DATABASE_URI=postgresql://postgres:developpassword@database-db/postgres
    depends_on:
      - database-db
    volumes:
      - "./database:/code"
  engine:
    build: ./engine
    container_name: engine
    environment:
      - FLASK_ENV=dev
    volumes:
      - "./engine:/code"
  nginx:
    build: ./nginx
    container_name: nginx
    expose:
      - "8080"
    ports:
      - "8080:8080"
    depends_on:
      - database
      - engine
